.topnav {
  overflow: hidden;
  background-color: #333;
  margin-left: -10px;
  margin-right: -10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #7F3F02;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}