.headerthe1st {
  padding: 40px;
  text-align: left;
  background: #db740d;
  color: red;
  font-size: 28px;
  margin-top: -45px;
  margin-left: -45px;
  margin-right: -45px;
  height: 3px;
  
}
