.headerthe2nd {
  padding: 13px;
  text-align: center;
  background: #333;
  color: white;
  font-size: 30px;
  margin-top: 0px;
  margin-left: -45px;
  margin-right: -45px;
  height: 2px;
}