.headerthe1st {
  padding: 40px;
  text-align: center;
  background: #db740d;
  color: white;
  font-size: 28px;
  margin-top: -45px;
  margin-left: -45px;
  margin-right: -45px;
  height: 2px;
  
}
